*{
    margin: 0;
    padding: 0;
}

h1,h2,h3,p,a{
    font-family: 'Roboto', sans-serif;
}

header{
    padding: 30px 0;
}
.header_wrapper{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 20%;
}
.logo img{}
.menu{
    width: 50%;
}
.menu ul{
    list-style: none;
    display: flex;
    justify-content: end;
}
.menu ul li{
    
}
.menu ul li a{
    font-size: 13px;
    font-weight: 100px;
    color: rgba(151, 153, 155, 255);
    text-decoration: none;
    margin-left: 30px;
    text-transform: uppercase;
}
.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #282b34;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.content h1{
    font-size: 33px;
    color: #fff;
    text-transform: uppercase;
}
.content p{
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    margin: 30px 0;
}
.content button{
    background-color: #fc6e52;
    padding: 15px 30px;
    color: #fff;
    text-transform: capitalize;
    font-size: 13px;
    border: 1px solid #fff;
    margin-top: 20px;
    border-radius: 5px;
}
.content button i{}

.services{
    width: 60%;
    margin: auto;
    padding: 50px 0;

}
.items{
    width: 31%;
    text-align: center;
}
.main{
    display: flex;
    justify-content: space-between;
}
.main h3{
    text-transform: capitalize;
    margin: 10px 0;
}
.main p{}

.items i{
    width: 80px;
    height: 80px;
    color: #fff;
    background: #fc6e52;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
}
tagline {
    width: 80%;


}
.tagline h1{
    color: #fc6e52;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    margin: 80px auto;
    
}
.photos{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 30px 0;
}
.photo{
   width: 30%; 

}
.photo img{
    width: 100%;
}
.photo h2{
    margin: 10px 0;
}
.photo p{
    margin-top: 10px;
    font-size: 13px;
    margin-bottom: 40px;
}

.photos2{
    width: 100%;
    background: #faf9f9;
    padding-bottom: 60px;
}

.photos2 .txt{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.photos2 h1{
    font-size: 20px;
    color: rgba(41, 44, 52, 255);
}

.photo h2{
    font-size: 15px;
    color: rgba(41, 44, 52, 255);
}

.box{
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
    text-align: center;

}

.photo2{
    width: 40%;
 
    
}
.photo2 img{
    width: 100%;

}

.photo2 h3{
    color: #fc6e52;
    margin-top: 10px;
}
.photo2 p{
    margin-top: 10px;
    font-size: 13px;
    margin-bottom: 40px;
}

footer{
    width: 100%;
    background: #292c34;
    padding: 20px 0;
}
.left{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.leftlogo{
    width: 25%;
    padding-top: 10px;
}
.leftlogo ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leftlogo a{
    text-decoration: none;
    text-transform: capitalize;
    color: rgba(121, 124, 130, 255);
}
.social-icons{
    width: 20%;
    padding-top: 13px;
}
.social-icons ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-icons li{
    padding-top: 10px;
}
.social-icons a{
    color: #fff;
}
